<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Página do Produto</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="./styles/styleProduct.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <meta name="robots" content="noindex,follow" />
   

  </head>

  <body>
    <main class="container">

      <!-- Left Column / Headphones Image -->
      <div class="left-column">
    
        <img src='' id='productImg'>

      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>INSERIR SUBDESCRICAO %> </span>
          <h1>  INSERIR NOME </h1>
          <p> INSERIR DESCRICAO .</p>
        </div>

        <!-- Product Configuration -->

        
        <!-- Product Pricing -->
        <div class="product-price">
          <span> R$ INSERIR PREÇO  %> </span>
          <a href="/checkout" id="button-netflix" class="cart-btn"> Comprar</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
  <script>
      document.getElementById("productImg").src = "images/INSERIRIMG" %>
  </script> 

  </body>
</html>
